<nav class="nav flex-column">
    <h3>Categories</h3>
    <a href="/year/1" class="nav-link">Year 1</a>
    <a href="/year/2" class="nav-link">Year 2</a>
    <a href="/year/3" class="nav-link">Year 3</a>
    <a href="/year/4" class="nav-link">Year 4</a>
    <a href="/year/5" class="nav-link">Year 5</a>
    
    <h3>Units</h3>
    <a href="/unit/1" class="nav-link">Unit 1</a>
    <a href="/unit/2" class="nav-link">Unit 2</a>
    <a href="/unit/3" class="nav-link">Unit 3</a>
    <a href="/unit/4" class="nav-link">Unit 4</a>
    <a href="/unit/5" class="nav-link">Unit 5</a>
    <a href="/unit/6" class="nav-link">Unit 6</a>
    <a href="/unit/7" class="nav-link">Unit 7</a>
    <a href="/unit/8" class="nav-link">Unit 8</a>
</nav>